:root {
  --font: 'Courier New', Courier, monospace;
  --color-dark: #171111;
  --color-highlight: #745859;
  --color-light: #E4DEDA;
  --color-mid: #79706C;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.completed {
  text-decoration: line-through;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  font-size: 1.125rem;
  line-height: 1.125em;
  background-color: var(--color-dark);
  color: var(--color-light);
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

button {
  font-family: var(--font);
  background-color: inherit;
  color: var(--color-light);
  border: none;
  margin: 0;
}

button:hover {
  opacity: 0.75;
  background-color: var(--color-highlight);
}

button.no-hover:hover {
  opacity: 1;
  background-color: inherit;
}

.btn {
  background-color: var(--color-highlight);
  border-radius: 0.25em;
  min-width: 2em;
  padding: 0.5em 1em;
}

/* Navigation Bar */

nav {
  padding: 0 0.5em;
  width: 100%;
  max-width: 1200px;
  background-color: var(--color-mid);
  display: flex;
  gap: 1em;
}

.nav__about,
.nav__reset {
  margin-left: auto;
}

/* Projects Pane */

.projects__list {
  margin: 1em 0;
}

.projects__project {
  display: flex;
  margin: 0 0 0.5em 0;
}

.projects__new-project-button {
  margin: 0 0 2em 0.375em;
}

.projects__project__open {
  font-weight: 800;
  font-size: 1.25rem;
  text-align: left;
  width: 100%;
}

/* Tasks Pane */

.tasks__project {
  display: flex;
  padding-bottom: 0.75em;
  margin-bottom: 0.75em;
  border-bottom: 1px solid var(--color-light);
}

.tasks__project__complete {
  width: 2em;
}

.tasks__project__edit {
  font-weight: 800;
  font-size: 1.25rem;
  text-align: left;
  width: 100%;
}

.tasks__task {
  display: flex;
  margin-bottom: 0.4em;
  min-height: 2em;
}

.tasks__task__complete {
  width: 2em;
}

.tasks__task__edit {
  font-weight: 300;
  font-size: 0.875rem;
  text-align: left;
  width: 100%;
}

.tasks__task__edit span {
  font-weight: 800;
  font-size: 1rem;

}

.tasks__task__delete {
  margin-left: auto;
}

.tasks__new-task-button {
  margin: 1em 0 0 2em;
}

.priority {
  background-color: var(--color-mid);
}

/* Dialog Styling */

dialog::backdrop {
  opacity: 0.8;
  background-color: var(--color-dark);
  backdrop-filter: blur(10px);
}

dialog {
  width: 80%;
  max-width: 800px;
  border: none;
  background-color: var(--color-dark);
  color: var(--color-light);
  border-radius: 0.5em;
}

fieldset {
  border: none;
  padding: 0 0 1em 0;
}

.form {
  padding: 1em;
  margin: 0 auto;
}

.project-dialog__item label,
.task-dialog__item label,
.subtask-dialog__item label,
.edit-project-dialog__item label,
.edit-task-dialog__item label,
.edit-subtask-dialog__item label,
.edit-task-dialog__tag {
  margin-bottom: 0.5em;
}

.project-dialog__item input,
.task-dialog__item input,
.subtask-dialog__item input,
.edit-project-dialog__item input,
.edit-task-dialog__item input,
.edit-task-dialog__item select,
.edit-subtask-dialog__item input {
  font-family: var(--font);
  background-color: var(--color-mid);
  color: var(--color-light);
  width: 100%;
  border: 1px solid var(--color-mid);
  border-radius: 0.25em;
  height: initial;
  padding: 0.5em;
  margin: 0.375em 0 1em 0;
}

.project-dialog__buttons,
.task-dialog__buttons,
.subtask-dialog__buttons,
.edit-project-dialog__buttons,
.edit-task-dialog__buttons,
.edit-subtask-dialog__buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.edit-task-dialog__tag {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

/* Dialog Edit Task - Subtasks */

.edit-task-dialog__subtasks {
  margin: 1em 0;
}

.edit-task-dialog__subtask {
  display: flex;
  margin-bottom: 0.25em;
}

.edit-task-dialog__subtask__complete {
  width: 2em;
}

.edit-task-dialog__subtask__edit {
  font-weight: 300;
  font-size: 0.875rem;
  text-align: left;
  width: 100%;
}

.edit-task-dialog__subtask__delete {
  margin-left: auto;
}

.edit-task-dialog__subtasks__new-task-button {
  margin: 1em 0 0 2em;
}

/* Media Queries */

@media (min-width: 900px) {
  .row {
    display: flex;
    gap: 5em;
  }

  .col {
    width: 100%;
  }

  .col--wide {
    flex: 3 1 0;
  }

  .col--narrow {
    flex: 1 1 0;
  }

  .tasks__project {
    margin-top: 1em;
  }
}